<app-header backButton="/auth" title="Registro"></app-header>

<ion-content>
  <div class="d-flex-cent">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">

      <!-- NOMBRE -->
      <app-custom-input autocomplete="name" icon="person-outline" [control]="form.controls.name" type="text"
        label="Nombre"></app-custom-input>

      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.hasError('required')">El nombre es requerido</div>
        <div *ngIf="form.controls.name.hasError('minlength')">El nombre debe tener al menos 4 caracteres</div>
      </div>

      <!-- EMAIL -->
      <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email"
        label="Correo"></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.hasError('required')">El correo es requerido</div>
        <div *ngIf="form.controls.email.hasError('email')">Ingrese un correo válido</div>
      </div>

      <!-- CONTRASEÑA -->
      <app-custom-input [control]="form.controls.password" icon="lock-closed-outline" type="password"
        label="Contraseña"></app-custom-input>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.hasError('required')">La contraseña es requerida</div>
      </div>

      <!-- Botones -->
      <ion-button expand="block"  mode="ios" fill="outline" type="submit">Registrate <ion-icon slot="end"></ion-icon></ion-button>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-footer>
